// Custom styles.

body {
    color: #000;
}

h2 {
  border-bottom: 2px solid #8c8c8c;
  padding: 0 5% 2px 0;
  display: inline-block;
  border-image: -moz-linear-gradient(left, #8c8c8c, rgba(140,140,140,0)) 30 30;
}

//运行时间
#days {
    color: rgb(7, 179, 155);
    font-size: 15px;
    font-weight: bold;
}

// 文章```代码块diff样式
pre .addition {
    background: #e6ffed;
}
pre .deletion {
    background: #ffeef0;
}

// 自定义的页脚微信订阅号样式
.weixin-box {
    position: absolute;
    bottom: 43px;
    left: 500px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}
.weixin-menu {
    position: relative;
    height: 45px;
    width: 45px;
    cursor: pointer;
    background: url(../images/wechat.svg);
    background-size: 45px 45px;
}
.weixin-hover {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 0px;
    width: 0px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    background: url(../images/mywechat.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 150px 150px;
    transition: all 0.35s ease-in-out;
    z-index: 1024;
    opacity: 0;
}
.weixin-menu:hover .weixin-hover {
    bottom: 24px;
    left: 24px;
    height: 170px;
    width: 150px;
    opacity: 1;
}
.weixin-description {
    opacity: 0;
    position: absolute;
    bottom: 3%;
    left: 5%;
    right: 5%;
    font-size: 12px;
    transition: all 0.35s cubic-bezier(1, 0, 0, 1);
}
.weixin-menu:hover .weixin-description {
    opacity: 1;
}

// 给字体加上黑幕
.heimu {
    background-color: #000;
    transition: background-color .4s;
    color: #000;
}
.heimu:hover {
    background-color: transparent;
}